{#
/**
 * @file
 * Custom display suite layout
 *
 * Available variables:
 * - cta: Call to Action
 * - content_section: body region
 */
#}


<div class="article-node bs-node">

  <div class="content-section">
    {{ content.content_section }}
  </div>
  <div class="cta-section">
      {{ content.cta }}
  </div>

</div>
</div>
